VITE_WAZUH_SERVER_API_PROTOCOL="https"
VITE_WAZUH_SERVER_API_HOST="192.168.1.100"
VITE_WAZUH_SERVER_API_PORT="55000"
VITE_WAZUH_SERVER_API_USERNAME="wazuh"
VITE_WAZUH_SERVER_API_PASSWORD="your-wazuh-password"
VITE_WAZUH_SERVER_AUTH_TOKEN_EXP_TIMEOUT="900"
VITE_TOPOLOGY_API_URL="http://127.0.0.1:8000/api/topo"

VITE_WAZUH_INDEXER_USER="admin"
VITE_WAZUH_INDEXER_PASSWORD="your-indexer-password"
VITE_WAZUH_INDEXER_PORT="9200"
