WAZUH_SERVER_API_PROTOCOL="https"
WAZUH_SERVER_API_HOST="192.168.1.100"
WAZUH_SERVER_API_PORT="55000"
WAZUH_SERVER_API_USERNAME="wazuh"
WAZUH_SERVER_API_PASSWORD="your-wazuh-password"
WAZUH_SERVER_AUTH_TOKEN_EXP_TIMEOUT="900"

TEST_LLM_MODEL=""
TEST_LLM_API_KEY=""
TEST_LLM_BASE_URL=""

ATTRIBUTION_LLM_MODEL=""
ATTRIBUTION_API_KEY=""
ATTRIBUTION_LLM_BASE_URL=""

WAZUH_INDEXER_USER="admin"
WAZUH_INDEXER_PASSWORD="your-indexer-password"
WAZUH_INDEXER_PORT="9200"
